<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

<header class="banner">
    <h1>The WT</h1>
</header>

<div class="content">
    <script id="cartTemplate" type="text/x-handlebars-template">
        <div><br>
            <b>Total cost:</b> ${{totalCost}}<br>
            <b>Items in cart:</b> {{noItems}}<br>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="tableTemplate">
        <table>
            <thead>
            <tr>
                <th id="productSort">Product</th>
                <th id="priceSort">Price</th>
            </tr>
            </thead>
            <tbody>
            {{#each array}}
            <tr class="productRow">
                <td hidden>{{id}}</td>
                <td>{{name}}</td>
                <td>${{unit_cost}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </script>
    <script type="text/x-handlebars-template" id="productDisplayTemplate">
        {{productName}} : ${{productCost}}
        <br>
        {{{productDescription}}}
        <br>
        <img src={{imageUrl}}>
        <br>
        <button id="close">Close</button>
        <button id="addToCart">Add to / Modify Cart</button>
        <br>
        <br><b>Quantity: </b><input type="number" id="quantity" value="1"> <input type="checkbox"
                                                                                  id="modifyCart"/> Modify Cart<br>
    </script>
    <script type="text/x-handlebars-template" id="fullCartTemplate">
        <table>
            <caption>Total Cost ${{costTotal}}</caption>
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            {{#each array}}
            <tr class="pro">
                <td>{{name}}</td>
                <td>{{quantity}}</td>
                <td>${{cost}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </script>
    <div class="nested1">
        <div id="products"></div>
        <div id="cartDisplay"></div>
    </div>
    <div class="nested2">
        <div id="productDisplay"></div>
        <div id="fullCart"></div>
    </div>
</div>

<footer class="banner">
    <p>Copyright &copy; 2019 Alexander Visontay</p>
</footer>

<!-- load Javascript -->
<script src="/static/js/handlebars-v4.1.2.js"></script>
<script src="/static/js/jquery-3.4.0.js"></script>
<script src="/static/js/script.js"></script>

</body>
</html>




