html {
    background-color: blue;
}

body {
    margin: 0;
}

.content {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    background-color: pink;
    padding: 20px;
    overflow: auto;
}

#message {
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: center;
    font-size: 20pt;
    font-family: fixed;
}

.banner {
    font-family: cursive, sans-serif;
    text-align: center;
    background-color: #ffcc33;
    margin: 0;
    padding: 10px;
    height: 80px;

}

table {
    width: 40%;
    margin: 20px;
    padding: 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 2px 4px;
}

img {
    border: 10px solid blue;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}

#info {
    padding: 20px;
    max-width: 40%;
    min-width: 40%;
    display: block;
    position: relative;
    margin-left: 1.4em;
    float: right;
}

#fullCart table {
    float: right;
}

#products table {
    float: left;
}
