* {
    font-family: Courier
}

body {
    margin: 0;
}


.banner {
    text-align: center;
    background-color: lightskyblue;
    margin: 0;
    padding: 10px;
    height: 80px;
}

#cartDisplay {
    margin: 20px;
    padding: 10px;
}

table {
    width: 60%;
    margin: 20px;
    padding: 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 2px 4px;
}

td:hover {
    text-decoration: underline;
}

img {
    border: 10px solid cornflowerblue;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}

.content > div {
    background: #eee;
    padding: 1em;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.nested1 {
    display: grid;
}

.nested2 {
    display: grid;
}

#cartDisplay:hover{
    background: #CFEBFD;
}
